<div class="About_sec" id="about">
    <div class="Center">            	
        <h2>about us</h2>            		
        <p>Are you tired of endlessly searching for family-friendly destinations where both you and your little ones can have a blast? Look no further! KidSpotter is your ultimate guide to finding and sharing the best kid-friendly spots in town.</p>
        <div class="Line"></div>	
        <!-- \\ Begin Tab side \\ -->
        <div class="Tabside">
            <div class="tabcontent" id="cont-1-1">
                <div class="TabImage">
                    <div class="img1" >
                        <img src="https://www.beaches.com/blog/content/images/2020/07/Beaches-Turks-Caicos-Beach-Family.jpg" alt="beach holiday">
                    </div>
                    
                </div>
                <div class="Description">
                    <h3>Discover and Share <span>Kid-Friendly Places!</span></h3>
                    <p><b>Discover Hidden Gems:</b> Explore a curated collection of kid-approved places, from playgrounds and parks to museums and family-friendly restaurants. Our user-friendly platform makes it easy to search for places based on location, type, and ratings, so you can find the perfect spot for your next family adventure.</p>
                    <p><b>Share Your Favorites:</b> Found a hidden gem that your kids can't get enough of? Share it with the KidSpotter community! Post reviews, photos, and tips to help other parents discover new and exciting places to explore with their little ones.</p>
                    <p><b>Like and Save:</b> Keep track of your favorite spots by liking them and saving them to your profile. Whether it's a cozy cafe with a play area or a thrilling amusement park, you can easily access your saved places whenever you're planning your next outing.</p>
                    <p><b>Start Exploring Today:</b> Whether you're looking for a weekend adventure or a weekday playdate, KidSpotter has everything you need to discover and share unforgettable experiences with your family. Sign up now and start exploring the wonderful world of kid-friendly places!</p>
                    <br>
                    <a routerLink="/home">Back</a>
                </div>
                
            </div>
            <div class="clear"></div>	
        </div>                    
        <!-- // End Tab Side // -->
    </div>
</div>