<div class="About_sec" id="about">
    <div class="Center">            	
        <h2>about us</h2>            		
        <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit<br> amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
        <div class="Line"></div>	
        <!-- \\ Begin Tab side \\ -->
        <div class="Tabside">
            <div class="tabcontent" id="cont-1-1">
                <div class="TabImage">
                    <div class="img1" >
                        <img src="https://www.beaches.com/blog/content/images/2020/07/Beaches-Turks-Caicos-Beach-Family.jpg" alt="beach holiday">
                    </div>
                    
                </div>
                <div class="Description">
                    <h3>Sed ac urna sit amet lorem<span>taciti sociosqu ad litora torquent per conubia</span></h3>
                    <p>November is free HTML CSS website template from <span class="cyan">templatemo</span> and you can download and use it for any purpose. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elit nunc, porta commodo euismod eu, fermentum a neque. Fusce scelerisque tincidunt auctor. Integer varius ullamcorper interdum.</p>
                    <p>Phasellus pretium elementum rhoncus. Aenean sit amet odio eu ante volutpat rutrum. Vestibulum ullamcorper faucibus orci, in blandit massa fringilla at. Nulla in fermentum eros. Suspendisse vitae aliquam metus.</p>
                    <br>
                    <a routerLink="/home">Back</a>
                </div>
                
            </div>
            <div class="clear"></div>	
        </div>                    
        <!-- // End Tab Side // -->
    </div>
</div>