
        <header>
            <div class="Center">
                <div class="site-logo">
                    <h1><a routerLink="/home">Mom<span>Knows</span>Best</a></h1>
                </div>
               <div id="mobile_sec">
               <div class="mobile"><i class="fa fa-bars"></i><i class="fa fa-times"></i></div>
                <div class="menumobile">
                    <!-- \\ Begin Navigation \\ -->
                    <nav class="Navigation">
                        <ul>
                            <li class="active">                                
                                <a routerLink="/home">Home</a>
                                
                            </li>
                            <li>
                                <a routerLink="/about">About</a>
                               
                            </li>
                            <li>
                                <a href="#services">Blog</a>
                               
                            </li>
                            <li>
                                <a href="#pricing">Mom Approved</a>
                                
                            </li>
                            <li>
                                <a href="#pricing">Login</a>
                               
                            </li>
                            <li>
                                <a href="#pricing">Register</a>
                              
                            </li>
                            <li>
                                <a href="#pricing">Logout</a>
                                
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                                
                            </li>
                        </ul>
                    </nav>
                    <!-- // End Navigation // -->
                </div>
                </div>
                <div class="clear"></div>
            </div>
        </header>
  
