body {
    background: #fff;
  }
  
  /* header {
    width: 100%;
    position: top;
    top: 0;
    left: 0px;
    height: 105px;
    background: rgb(0 0 0 / 82%);
    z-index: 9;
  } */
  header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0px;
    height: 105px;
    background: rgb(0 0 0 / 82%);
    z-index: 9;
  }
  header .Center {
    max-width: 1100px;
    margin: auto;
  }
  header .site-logo {
    padding: 30px 0px 0px 0px;
    width: 220px;
    float: left;
    transition: all 0.3s;
  }
  header .site-logo h1 {
    margin: 0px;
  }
  header .site-logo h1 a {
    font-size: 36px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: rgb(3, 3, 3) 0px 2px 5px;
    transition: all 0.7s ease;
  }
  header .site-logo h1 a span {
    color: #ff9000;
  }
 
  .Navigation ul {
    list-style: none;
    margin: 0px;
    float: right;
  }
  .Navigation li {
    float: left;
    padding: 0px;
    margin: 0px;
    height: 105px;
    position: relative;
    transition: all 0.3s ease;
  }
  .Navigation li a {
    padding: 42px 11px 16px 21px;
    font-size: 16px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-decoration: none;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  li.active:hover {
    border-bottom: solid 10px #f88f05;
    background: rgb(58, 91, 129);
  }
 
  /* .Navigation li:hover span,
  .Navigation li.active span {
    opacity: 1;
  } */
  
  /* header.smaller .Navigation li a {
    padding: 16px 41px;
  } */
  /* header.smaller .Navigation li {
    height: 60px;
  }
   */
  
