.Banner_sec {
    width: 100%;
    height: 524px;
  }
  .Banner_sec .Center {
    width: 100%;
    padding: 0px 2%;
  }
  .Banner_sec .bannerside {
    top: 144px;
  }
  .Banner_sec .leftside h3 {
    font-size: 32px;
  }
  .Banner_sec .rightside {
    width: 66%;
  }
  .Banner_sec .rightside .Slider {
    width: 100%;
  }
  .Banner_sec .rightside .Slider .text {
    padding: 25px 10px 21px 10px;
  }
  .Banner_sec .rightside .Slider .text .Icon {
    width: 45%;
  }
  .Banner_sec .rightside .Slider .text .Lorem {
    width: 40%;
  }
  .Banner_sec .rightside .Shadow {
    width: 105%;
  }
  .Banner_sec .rightside .prevBtn {
    top: 160px;
  }
  .Banner_sec .rightside .nextBtn {
    top: 160px;
  }
  

  /* <<< Banner Section >>> */
.Banner_sec {
    width: 100%;
    background: url(../images/shutterstock_family-lake.jpeg) top center no-repeat;
    height: 687px;
    position: static;
    background-size: cover;
  }
  .Banner_sec .bannerside {
    width: 100%;
    position: absolute;
    top: 256px;
    left: 0px;
  }
  .Banner_sec .Center {
    max-width: 1100px;
    margin: auto;
  }
  .Banner_sec .leftside {
    padding: 240px 20px 0px 0px;
    width: 28.9%;
    float: left;
  }
  .Banner_sec .leftside h3 {
    font-size: 36px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px;
    line-height: 45px;
  }
  .Banner_sec .leftside h3 span {
    color: #ff9000;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    display: block;
  }
  .Banner_sec .leftside p {
    padding: 16px 0px 26px 0px;
    font-size: 16px;
    color: #fff;
   
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    margin: 0px;
    word-spacing: 2px;
    line-height: 22px;
  }
  .Banner_sec .leftside a {
    padding: 11px 16px;
    font-size: 14px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: solid 1px #b0bdc8;
    background: rgba(64, 93, 118, 0.8);
    transition: all 0.3s ease;
  }
  .Banner_sec .leftside a:hover {
    background: #ff9000;
    color: #fff;
    border: solid 1px #ff9000;
  }
  