<div class="Banner_sec" id="home">
    <!--  \\ Begin banner Side -->
    <div class="bannerside">
        <div class="Center">
            <!--  \\ Begin Left Side -->
            <div class="leftside">
                <h3>Responsive<span>Mobile Friendly</span></h3>
                <!-- <p>November is a professional website template that is responsive and mobile friendly for any device. This template is provided by templatemo.com</p> -->
                <a routerLink="/about">MORE DETAILS</a>
            </div>                        								
            
        </div>
    </div>
    <!--  // End banner Side // -->
    <div class="clear"></div>
</div>
