<div class="container">
  <div class="profile-card">
      <div class="photo"><img src="https://previews.123rf.com/images/kritchanut/kritchanut1406/kritchanut140600067/29035229-yellow-male-avatar-profile-picture-icon-in-circle.jpg" alt=""></div>
      <div class="profile-header">
          Profile Information
      </div>
      <div class="profile-info">
          <p class="profile-info-item"><strong>Username:</strong> {{ username }}</p>
          <p class="profile-info-item"><strong>Liked Posts:</strong> {{ likedPosts.length }}</p>
      </div>
  </div>
</div>

<section class="post-container">
  <div *ngIf="likedPosts.length > 0" class="post-card">
      <h3>Liked Posts</h3>
      <div *ngFor="let item of post" class="post">
          <h4><b>Title:</b> {{ item.title }}</h4>
          <div class="post-photo"><img src="{{ item.imageUrl }}" alt=""></div>
          <p>{{ item.description }}</p>
          <!-- Add more details as needed -->
      </div>
  </div>
</section>
