
footer{
    position: fixed;
    bottom:0;
    width: 100%;
    text-align: center;
    background: rgb(0 0 0 / 82%);
    }

  footer .Cntr {
    padding: 28px 0px;
    max-width: 1100px;
    margin: auto;
  }
  footer .Cntr p {
    padding: 0px;
    font-size: 13px;
    color: #a9abad;
    font-family: "Open Sans";
    margin: 0px;
  }
  footer .Cntr a {
    color: #a9abad;
    text-decoration: none;
  }
  footer .Cntr a:hover {
    color: #fff;
  }

  footer {
    width: 100%;
  }
  footer .Cntr {
    width: 100%;
    padding: 20px 2%;
  }
