<div class="card">
    <div class="card-image">
      <img src="{{post.imageUrl}}" alt="Image">
    </div>
    <div class="card-content">
      <div class="card-title">{{post.title}}</div>
      <div class="card-details">
        <p><b>Type:</b> {{post.type}}</p>
        <p><b>Location:</b> {{post.location}}</p>
        <p><b>Rating:</b> {{post.rating}}</p>
        <p><b>Date:</b> {{post.date}}</p>
      </div>
      <div class="card-description">
        <b>Description:</b> {{post.description}}
      </div>
      <ng-container *ngIf="!isOwner">
        <button (click)="like()">Like</button>
      <button>Unlike</button>
      </ng-container>
      <ng-container *ngIf="isOwner">
        <button>Edit</button>
        <button>Delete</button>
      </ng-container>
    </div>
  </div>